<div class="align-items-center d-lg-grid min-vh-100 pt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <form>
                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text text-black">Please enter your username</div>
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordInput">
                    <div id="passHelp" class="form-text text-black">Please enter your password</div>
                </div>
                <button type="submit" class="btn btn-primary" id="signInButton">Sign In</button>
            </form>
        </div>
        <div class="col-12 d-flex justify-content-center"></div>
    </div>
</div>
<script src="/assets/js/signin.js"></script>